body {
     font-family: "Open sans", sans-serif;
     /*font-family: 'Indie Flower', cursive;*/
     margin: 20px;
     background-color: mintcream;
}

h1{
    background-color: rgb(134, 163, 91);
    color: white;
    text-align: center;
    padding: 20px;
}

h2{
    background-color: rgb(134, 163, 91);
    color: white;
    text-align: left;
    padding: 1px;
    font-size: 30px;

}

h3{
    background-color: mintcream ;
    color: black;
    text-align: left;
    padding: 1px;
    font-size: 20px;
}
footer{ 
    margin-top: 40px;
    text-align: center;
    font-size: 15px;
}